<!DOCTYPE html>
<html lang="en">

<head>
    <title>FantaData</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">

</head>

<body>

    <h1 class="titolo">FantaData 2022</h1>

    <p class="infosito">Benvenuti nel mondo dei fanta Allenatori!
    </p>

    <div class="content">
        <div class="table"
            style="width: 678px; height: 800px; overflow-x:  hidden;  overflow-y:  scroll; border:1px solid black;">
            {{listaGioc|safe}}
        </div>






        <form action="/selsquadra" method="GET">
            {{InfoSquadra|safe}}

            <input type="text" value="Nome giocatore:" name='calciatore'></input>

            <h1>Seleziona Ruolo:</h1>
            <input type="radio" name="scelta" value="AllRoles">Tutti</input>
            <input type="radio" name="scelta" value="P">P</input>
            <input type="radio" name="scelta" value="D">D</input>
            <input type="radio" name="scelta" value="C">C</input>
            <input type="radio" name="scelta" value="A">A</input>




            <h2>Seleziona Squadra: </h2>
            <select name="squadra">
                {% for squadra in squadre%}
                <option value="{{squadra}}">{{squadra}}</option>
                {%endfor%}

            </select>




            <h3>Seleziona Criterio d'ordine:</h3>
            <select name="ordina">
                {% for criterio in criteri%}
                <option value="{{criterio}}">{{criterio}}</option>
                {%endfor%}
            </select></br>







            <input type="submit" style="visibility: hidden;" />

        </form>
    </div>


</body>
<script>
    const td = document.querySelectorAll("td");
    let c = "";

    const colors = {
        "P": "#f9ca24",
        "D": "#6ab04c",
        "C": "#22a6b3",
        "A": "#eb4d4b"
    }

    td.forEach(e => {
        if (Object.keys(colors).includes(e.innerText)) {
            c = colors[e.innerText];
        }
        e.style.backgroundColor = c
    });
</script>



</html>