<!DOCTYPE html>
<html lang="en">

<head>
    <title>FantaData</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">

</head>

<body>

    <h1 class="titolo">FantaData 2022</h1>

    <p class="infosito">Benvenuti nel mondo dei fanta Allenatori!
    </p>

    <div class="content">
        
        <div class="table"
            style="width: 678px; height: 800px;  overflow-x:  hidden;  overflow-y:  scroll; border:1px solid black;">
            {{listaGioc|safe}}
    
        </div>





        <form action="/selruolo" method="GET">

         

            <h4>Cerca per nome:</h4>
            <input type="text" value="" name='calciatore'></input>

            <h1>Seleziona Ruolo:</h1>
            <input type="radio" name="scelta" value="AllRoles" required>Tutti
            <input type="radio" name="scelta" value="P" required>P
            <input type="radio" name="scelta" value="D" required>D
            <input type="radio" name="scelta" value="C" required>C
            <input type="radio" name="scelta" value="A" required>A


            <h2>Seleziona Squadra: </h2>
            <select name="squadra" required>
                <option value="-">-</option>
                {% for squadra in squadre%}
                <option value="{{squadra}}">{{squadra}}</option>
                {%endfor%}
            </select>



            <h3>Seleziona Criterio d'ordine:</h3>
            <select name="criterio" required>
                <option value="-">-</option>
                {% for criterio in criteri%}
                <option value="{{criterio}}">{{criterio}}</option>
                {%endfor%}
            </select>

            </br>

            <input type="submit" name="Invio" value="Cerca" id="send">
        </form>






    </div>


</body>
<script>
    const td = document.querySelectorAll("td");
    let c = "";

    const colors = {
        "P": "#f9ca24",
        "D": "#6ab04c",
        "C": "#22a6b3",
        "A": "#eb4d4b"
    }

    for (let i = 0; i < td.length; i++) {
        const e = td[i];
        if (Object.keys(colors).includes(e.innerText)) {
            c = colors[e.innerText];
            td[i-1].style.backgroundColor = c;
        }
        e.style.backgroundColor = c

    }

    // const send = document.getElementById("send");
    // const radiobuttons = document.querySelectorAll('input[type="radio"]');
    // const checked = document.querySelectorAll('input[type="radio"]:checked');

    // send.disabled = checked.length > 0 ? false : true;

    // radiobuttons.forEach(r => {
    //     r.onclick = () => {
    //         const checked = document.querySelectorAll('input[type="radio"]:checked');
    //         send.disabled = checked.length > 0 ? false : true;
    //     };
    // });


</script>



</html>