<!DOCTYPE html>
<html lang="en">

<head>
    <title>FantaData</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
<style>
.button {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(71, 111, 221);
  color: rgb(71, 111, 221);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 8px;
}
</style>
</head>

<body>

    <h1 class="titolo">FantaData 2022</h1>

    <p class="infosito">Benvenuti nel mondo dei fanta Allenatori!
    </p>

    <div class="content">
        
        <div class="table"
            style="max-height: 80vh; overflow-x:  hidden;  overflow-y:  scroll; border:1px solid black;">
            {{listaGioc|safe}}
    
        </div>

    </div>

    <div class="leg">
        <h4>LEGENDA: <br>
        Cerca per nome ------> Inserisci il nome del calciatore da ricercare <br>
        Seleziona Ruolo -----> Seleziona il ruolo dei giocatori che vuoi visualizzare<br>
        Seleziona Squadra ---> Seleziona la squadra dei giocatori che vuoi visualizzare<br>
        Ordina Per ----------> Seleziona il criterio con cui si riordinano i giocatori<br>
        ====================================================================================<br>

        in "Seleziona Squadra" e "Ordina Per" il valore "-" non modifica i criteri di ricerca<br>

        ====================================================================================<br>

        Avviata la ricerca, per visualizzare grafici e statistiche di un calciatore in modo più dettagliato:<br>
        Cliccare il suo nome 
        </h4>
    </div>

    <div class="filtri">
        <form action="/selruolo" method="GET">

         

            <h2>Cerca per nome:</h2>
            <input type="text" value="" name='calciatore'></input>

            <h2>Seleziona Ruolo:</h2>
            <input type="radio" name="scelta" value="AllRoles" checked>Tutti
            <input type="radio" name="scelta" value="P" >P
            <input type="radio" name="scelta" value="D" >D
            <input type="radio" name="scelta" value="C" >C
            <input type="radio" name="scelta" value="A" >A


            <h2>Seleziona Squadra: </h2>
            <select name="squadra" >
                <option value="-">----></option>
                {% for squadra in squadre%}
                <option value="{{squadra}}">{{squadra}}</option>
                {%endfor%}
            </select>



            <h2>Seleziona Criterio d'ordine:</h2>
            <select name="criterio" >
                <option value="-">----></option>
                {% for criterio in criteri%}
                <option value="{{criterio}}">{{criterio}}</option>
                {%endfor%}
            </select>

        
            
            <br><br><button class="button">Cerca</button>
            
        </form>
    </div>


</body>
<script>
    const td = document.querySelectorAll("td");
    let c = "";

    const colors = {
        "P": "#f9ca24",
        "D": "#6ab04c",
        "C": "#22a6b3",
        "A": "#eb4d4b"
    }

    for (let i = 0; i < td.length; i++) {
        const e = td[i];
        if (Object.keys(colors).includes(e.innerText)) {
            c = colors[e.innerText];
            td[i-1].style.backgroundColor = c;
        }
        e.style.backgroundColor = c

    }

</script>



</html>