<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoGiocatore</title>
    <link rel="stylesheet" href="/static/styles/player.css">
</head>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>
<body>
    
    <h1 class="nome_gioc">{{nome}}</h1>                                              
    

    
    <h1 class="squadra">{{squadra}}</h1>
    <h1 class="ruolo">{{ruolo}}</h1>


    
    

    <div class="table"></div>
    <table>


        <tr>
          <th>Presenze</th>
          <th>Gol</th>
          <th>Assist</th>
          <th>Amm</th>
          <th>Esp</th>
          <th>Media</th>
          <th>FantaMedia</th>
        </tr>
         <tr>
          <td>{{pres}}</td>
          <td>{{gol}}</td>  
          <td>{{assist}}</td>  
          <td>{{amm}}</td>  
          <td>{{esp}}</td>  
          <td>{{media}}</td>  
          <td>{{fantamedia}}</td>    

        </tr>    
      
    </table>
    </div>

    <div class="grafico"></div>
      <img src="/grafico.png">
    </div>

</body>
</html>


