body {
    background-image: url("sfondoplayer.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    font-family: sans-serif;
    color: white;
  }

.nome_gioc {
    text-align: center;
    margin-top:0

}

.titolo {
    text-align:center;
    margin-top:0
}
  

.squadra {
    position: absolute;
    margin-top: 4.5%;
    margin-left: 60%
}

.ruolo {
    position: absolute;
    margin-top: 4.5%;
    margin-left: 35%
}


.table {
          
    table-layout: fixed;
    width: 100%;
    float: left;
   
    
}


td {
    width: 10%;
    text-align: center;
}


.grafico{
    float: right;
}
