body {
    background-image: url("sfondoplayer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
}

.nome_gioc {
    text-align: center;
    margin-top: 0
}

.titolo {
    text-align: center;
    margin-top: 0
}

.ruolo {
    position: absolute;
    margin-top: 4.5%;
    margin-left: 35%
}


.table table{
    table-layout: fixed;
    width: 100%;
    margin-top: 12;
}


td {
    width: 10%;
    text-align: center;
}


.grafico img{
    margin-top: 12%;
    max-width: 40%;
}


.map {
    margin-top: 5%;
    margin-right: 35%;
    max-width: 40%;
}

/* .left {
    float: left;
} */