body {
    background-image: url("sfondoplayer.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    font-family: sans-serif;
    color: white;
  }

.nome_gioc {
    text-align: center;

}

.titolo {
    text-align:center;
}
  

.squadra {
    position: absolute;
    top: 180px;
    left: 770px
}

.ruolo {
    position: absolute;
    top: 180px;
    right: 800px
}

.nomi {
    text-align:center;
    
}

.table {
          
    table-layout: fixed;
    width: 100%;
    
}


td {
    width: 10%;
    text-align: center;
}
