.titolo {
  text-align:center;
}

.infosito { 
  text-align:center;
  font-size: large;
}

body {
  background-image: url("sfondofantadata1.jpg");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
  font-family: sans-serif;
  color: white;
}

table {
  background-color: rgb(244, 239, 245);
  color: black;
  border-collapse: collapse;
}

.table :is(th, td) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  text-align: left;
}

.table td {
  padding: 2px;
}

.selsquadra {
  
  width: 1000px;
  height: 200px;
  
}


.content .table {
  float: left;
}

.content form {
  margin-left: 1000px;
}

