.titolo {
  text-align:center;
  margin-top:0
}

.infosito { 
  text-align:center;
  font-size: large;
  margin-top: 0
}

body {
  background-image: url("sfondofantadata1.jpg");
  background-size:     cover;                      
  background-repeat:   no-repeat;
  background-position: center center;
  font-family: sans-serif;
  color: white;
  height: 100vh;
}

table {
  background-color: rgb(244, 239, 245);
  color: black;
  border-collapse: collapse;
  margin-top: 0;

}

.table :is(th, td) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0;
  text-align: left;
  

}

.content .table {
  float: left;
}


.filtri {
  margin-top:2.5%;
  margin-left: 65%;
  position:fixed
}



